/* Create another variable and assign a background-color*/
/* Apply this variable to body and h2 tags*/

body {
    color: $text-color;
    background-color: $background-color;
}

p {
    color: $text-color;
}

h2 {
    background-color: $background-color;
}
