$text-color: #3D3D3D;
$background-color: #6D6D6D;

body {
    margin: 0px;
    padding: 0px;
    color: $text-color;
    background-color: $background-color;
    p {
        margin: 10px;
        color: $text-color;
    }
}

h2 {
    background-color: $background-color;
}
